* {
    margin:0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    background: #5EA38E;
    background: linear-gradient(90deg, rgba(94, 163, 142, 1) 10%, rgba(60, 92, 69, 1) 50%, rgba(94, 163, 142, 1) 90%);
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:100%;
    height:100px;
    border-bottom: #287e64 solid 5px;
    color:#287e64;
}

#main_container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    background-color: rgb(162, 213, 198);
    width: 60%;
    min-height: 100vh;
    height:100%;
    padding: 50px;
}

.graph_container{
    text-align: center;
    background-color: rgb(0, 182, 167);
    border-radius: 10px;
    height:300px;
    padding: 20px;
}

@media (max-width: 1800px) {
    #main_container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .graph_container {
        height: 300px;
        width: 500px;
    }
}

#graph_retainer {
    width: 100% !important;
}

.graph_styling {
    height: 100%;
    width: 100%;
}

.bron {
    font-size: 15px;
}


